DOCTYPE 
html
  head
    title Prerna Dance Acdamey
    block scripts
    block style
  body
    nav#navbar
      ul 
       div#logo 
          img(src="/static/logo.png")
          | PDA
       li #[a(href="/") Home ]
       li #[a(href="/") About ]
       li #[a(href="/") Services]
       li #[a(href="/") Class Info]
       li #[a(href="/contact") Contact Us ]
    block content

    footer#footer
        | Copyright © 2020-2021 PrernaAcademy.com | All Rights Reserved 